.zone-center
  &s
    width: auto
  &__dot
    width: auto
    cursor: pointer
    padding: 0
    margin: 0
    width: 13px
    height: 13px
    &_1
      transform: translate(157px, 202px)
      & .zone-center__dot:nth-child(1)
        transform: translate(-1px, 6px)
      & .zone-center__dot:nth-child(2)
        transform: translate(53px, -66px)
      & .zone-center__dot:nth-child(3)
        transform: translate(26px, -74px)
      & .zone-center__dot:nth-child(4)
        transform: translate(0px, -82px)
      & .zone-center__dot:nth-child(5)
        transform: translate(-27px, -100px)
      & .zone-center__dot:nth-child(6)
        transform: translate(-54px, -119px)
    &_2
      transform: translate(148px, 366px)
      & .zone-center__dot:nth-child(1)
        transform: translate(-53px, 41px)
      & .zone-center__dot:nth-child(2)
        transform: translate(-34px, 52px)
      & .zone-center__dot:nth-child(3)
        transform: translate(-11px, 61px)
    &_3
      transform: translate(222px, 266px)
      & .zone-center__dot:nth-child(1)
        transform: translate(16px, -80px)
      & .zone-center__dot:nth-child(2)
        transform: translate(-7px, -101px)
      & .zone-center__dot:nth-child(3)
        transform: translate(37px, -96px)
    &_4
      transform: translate(157px, 332px)
      & .zone-center__dot:nth-child(1)
        transform: translate(3px, 4px)
      & .zone-center__dot:nth-child(2)
        transform: translate(-26px, -18px)
      & .zone-center__dot:nth-child(3)
        transform: translate(31px, -32px)
    &_5
      transform: translate(77px, 303px)
      & .zone-center__dot:nth-child(1)
        transform: translate(-8px, -20px)
      & .zone-center__dot:nth-child(2)
        transform: translate(-2px, -4px)
      & .zone-center__dot:nth-child(3)
        transform: translate(11px, 12px)
    &_6
      transform: translate(157px, 416px)
      & .zone-center__dot:nth-child(1)
        transform: translate(0px, 0px)
@media (max-width: 550px)
  .zone-center
    &__dot
      &s
        margin-top: 110px
      &_1
        transform: translate(46%, 93px)
      &_2
        transform: translate(43%, 239px)
      &_3
        transform: translate(72%, 155px)
      &_4
        transform: translate(45%, 214px)
      &_5
        transform: translate(16%, 192px)
      &_6
        transform: translate(46%, 274px)